/* --------------------------------------------- Background video/GIF covers the whole page */
:root {
    --primary-color: #333;
    --secondary-color: #5a5a5a;
    --tertiary-color: #333;
    --light-white-color: #f9f9f9;
    --background-color: #222222;
    --text-color: #333;
    --highlight-color: #fcb900;
    --hyperlink-inactive-color: #2a4062;
    --hyperlink-active-color: #01af70;
}

/* --------------------------------------------- Font Import */
@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand/Quicksand-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/quicksand/Quicksand-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------------------- Main Panel */
.main-panel {
    background-color: rgba(0, 0, 0, 0.12);
    padding: 20px;
    margin: 0 auto;
    max-width: 1600px;
    box-sizing: border-box;
}

/* --------------------------------------------- Background Media */
@keyframes zoomInOut {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.background-media {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    animation: zoomInOut 20s ease-in-out infinite;
}

.background-media video,
.background-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.17;
}

/* --------------------------------------------- Profile Image Hover Animation */
.profile-image {
    width: 150px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.05);
    /* Slight enlargement on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Soft shadow */
}

.profile-image img {
    width: 100%;
    /* Ensures image fills circular frame */
    height: auto;
    /* Allows image to maintain aspect ratio */
    object-fit: cover;
    /* Ensures image maintains aspect ratio and covers container */
}

.image-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.image-right img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

/* --------------------------------------------- Top Navigation Bar */
.top-nav {
    background-color: var(--background-color);
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    padding: 10px 20px;
    z-index: 10;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.top-nav ul li {
    position: relative;
}

.top-nav ul li a {
    display: block;
    color: var(--light-white-color);
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.top-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--light-white-color);
}

.top-nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--light-white-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 150px;
    z-index: 10;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.top-nav .dropdown-menu li {
    padding: 10px;
    white-space: nowrap;
}

.top-nav .dropdown-menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    transition: background 0.3s;
    border-radius: 5px;
}

.top-nav .dropdown-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.top-nav li:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.top-nav ul li.right {
    margin-left: auto;
}

/* --------------------------------------------- Logo container */
.logo {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    height: 50px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo-container img:hover {
    transform: scale(1.1);
}

/* ---------------------------------------------  Gallery Grid Images */
.gallery-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    /* padding-left:  160px;
    padding-right: 160px; */
}

.gallery-item img {
    max-width: 80%;
    height: auto;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.gallery-item figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 0;
}

.gallery-item figcaption {
    margin-top: 8px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* ---------------------------------------------  Project Grid Images */
.project-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.project-item img {
    max-width: 80%;
    height: auto;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.project-item img:hover {
    transform: scale(1.1);
    /* Scale up images slightly on hover */
}

/* --------------------------------------------- Fonts */
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    color: var(--primary-color);
}

h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: var(--secondary-color);
    font-size: 2.0em;
}

h3 {
    text-align: center;
    /* font-family: 'Dancing Script', cursive;  */
    color: var(--tertiary-color);
}

h4 {
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 1;
}

a {
    color: var(--hyperlink-inactive-color);
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    text-decoration: underline;
}

a:hover {
    color: var(--hyperlink-active-color);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* Adjust the font size as needed */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    /* Light gray background color */
    color: var(--tertiary-color);
    /* Dark text color */
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
    line-height: 1.3;
    /* Adjust the line height to increase the gap between sentences */
}

.text-center {
    text-align: center;
}

.text-spec {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.academic-projects-heading {
    font-family: 'Dancing Script', cursive;
    color: var(--primary-color);
    font-size: 34px;
    margin-bottom: 1;
}

.horizontal-line {
    border: none;
    border-top: 2px solid var(--primary-color);
    margin-top: 0px;
}

.horizontal-line-dashed {
    border: none;
    border-top: 2px dashed var(--primary-color);
    margin-top: 0px;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* Divide header into three sections */
    align-items: center;
    padding: 10px;
}

/* --------------------------------------------- Footer Styling */
.footer {
    font-family: 'Quicksand';
    width: 100%;
    background-color: var(--background-color);
    color: var(--light-white-color);
    font-style: italic;
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--light-white-color);
    box-sizing: border-box;
    margin: 0;
    position: static;
    font-weight: lighter;
}