/* --------------------------------------------- Scrolling Images Animation */
@keyframes scrollImages {
    0% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(-50%);
    }

    90% {
        transform: translateX(-55%);
    }

    100% {
        transform: translateX(0%);
    }
}

.scrolling-images {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scrolling-container {
    display: inline-flex;
    animation: scrollImages 40s ease-in-out infinite;
    gap: 10px;
}

.scrolling-container img {
    display: block;
    max-width: 180px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 5px;
    transition: transform 0.3s ease;
}

.scrolling-container img:hover {
    transform: scale(1.1);
}

/* --------------------------------------------- Robot Movement */
@keyframes moveRobot {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(110vw);
    }
}

#robot-container {
    position: relative;
    height: 100px;
    overflow: hidden;
}

#robot {
    position: absolute;
    top: 0;
    left: -100px;
    width: 145px;
}

#robot.move {
    animation: moveRobot 6s linear infinite;
}

#robot img {
    width: 100%;
}

#robot-body {
    cursor: pointer;
}